<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title th:text="${title}">Insert title here</title>
</head>

<body>
	<section>
		<div>
			<div class="card ml-5 mr-3">
				<div class="card-body">
					<div class="container text-center">
						<h1>User Details</h1>
						<td class="text-center"> <img style="height: 200px; width: 200px;" class="Profile_pic" src=""
								th:src="@{${user.uImageUrl}}" alt="Profile_Pic"></img> <br> <span
								th:text="${user.uName}"></span></td>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">ID</th>
									<th scope="col"><span th:text="${user.uId}"></span></th>
								</tr>
							</thead>
							<tbody>
								
								<tr>
									<th scope="row">Email</th>
									<td><span th:text="${user.uEmail}"></td>

								</tr>
								<tr>
									<th scope="row">Role</th>
									<td><span th:text="${user.uRole}"></td>

								</tr>
								<tr>
									<th scope="row">Profile Active</th>
									<td><span th:text="${user.uEnable}"></td>

								</tr>
								<tr>
									<th scope="row">Discription</th>
									<td><span th:text="${user.uDiscription}"></td>

								</tr>
							</tbody>
						</table>
						<a href="#" th:onclick="|deleteContact(${user.uId})|"
							class="btn btn-danger btn-small">Remove</a>
						<form th:action="@{'/user/update-contact/'+${user.uId}}" method="post" class="mt-2">
							<button type="submit" class="btn btn-primary btn-small">update</button>
						</form>
					</div>
				</div>
			</div>

		</div>
	</section>
</body>

</html>