<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section class="vh-100">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12 col-md-8 col-lg-6 col-xl-5">
					<div class="card bg-light text-dark" style="border-radius: 1rem;">
						<div class="card-body p-5 text-center">

							<div class="mb-md-5 mt-md-4 pb-5">
								<form th:action="@{/doLogin}" method="post" action="#">
									<h2 class="fw-bold mb-2 text-uppercase">Login</h2>

									<div th:if="${param.error}" class="alert alert-danger">
										User name or password are invalid!!
									</div>
									<div th:if="${param.logout}" class="alert alert-success">
										You have Logged out successfully
									</div>

									<p class="text-dark-50 mb-5">Please enter your Username and password!</p>

									<div class="form-outline form-white mb-4">
										<input type="email" id="typeEmailX" name="username"
											class="form-control form-control-lg" />
										<label class="form-label" for="typeEmailX">Username</label>
									</div>

									<div class="form-outline form-white mb-4">
										<input type="password" id="typePasswordX" name="password"
											class="form-control form-control-lg" />
										<label class="form-label" for="typePasswordX">Password</label>
									</div>

									<p class="small  pb-lg-2"><a class="text-dark-50" href="#!">Forgot password?</a>
									</p>

									<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
									<div>
										<p class="mb-0">Don't have an account? <a href="/signup"
												class="text-dark-50 fw-bold">Sign
												Up</a>
										</p>
									</div>
								</form>
							</div>



						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>

</html>